@import "./utils/fonts.scss";
@import "./utils/reset.scss";
@import "./utils/variables.scss";
@import "./components/buttons";

body {
  font-family: var(--text-font-family);
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section {
  padding-right: 215px;
  padding-left: 215px;
}

.header-flex {
  display: flex;
  align-items: center;
}

.container > a {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--link-active-color);
  text-decoration: none;
  text-align: left;
  display: inline-block;
  margin-top: 24px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.global-header .main-navigation li {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.global-header .main-navigation ul {
  display: flex;
}

.global-header .main-navigation ul li + li {
  margin-left: 50px;
  justify-content: space-around;
}

.header-icons-list {
  display: inline-flex;
  flex-direction: row;
}

.header-icons-list .envelope-icon svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--link-active-color);
}

.header-icons-list .smartphone-icon svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-icons-list .envelope-icon:hover,
.header-icons-list .envelope-icon:focus {
  color: var(--link-active-color);
}

.header-icons-list .smartphone-icon:hover,
.header-icons-list .smartphone-icon:focus {
  color: var(--link-active-color);
}

.global-header .main-navigation ul li + li + li + li {
  margin-left: 385px;
}

.global-header .main-navigation ul li + li + li + li + li {
  margin-left: 40px;
}

.global-header .main-navigation a:hover {
  text-decoration: none;
  color: var(--link-active-color);
}

.global-header .main-navigation a {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  position: relative;
}

.main-navigation a:hover::after {
  display: inline;
}

.main-navigation a::after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--link-active-color);
  bottom: -50px;
  left: 0;
}

.global-header .main-navigation a.active {
  text-decoration: none;
  color: var(--link-active-color);
}

.global-header .main-navigation .phone-number {
  text-decoration: none;
  color: var(--text-alternate-color);
}

.global-header .main-navigation .mail {
  text-decoration: none;
  color: var(--text-alternate-color);
}

.h_line {
  position: absolute;
  width: 1600px;
  height: 0px;
  border: 1px solid #ececec;
}

.third-img-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: calc(100% / 3);
  align-self: center;
  justify-content: center;
  gap: 30px;
}

.third-img-section li {
  padding-bottom: 30px;
}

.card-wrap {
  border-top: none;
  border-bottom: 0.5px solid var(--color-light-mode-background);
  color: var(--title-color);
  padding: 20px 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-wrap:hover {
  box-shadow: box-shadow 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-wrap p {
  margin-top: 4px;
  justify-content: flex-start;
}

.hero {
  background: url("../images/hero-image.jpg"),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(37, 38, 43, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 120px;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  color: #fff;
  background-color: var(--text-alternate-color);
}

.hero-section button {
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--link-active-color);
  color: #ffffff;
  padding: 10px 19px 10px 20px;
  width: 204px;
}

.button-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-flex li + li {
  margin-left: 8px;
}

.button-flex li {
  padding-top: 94px;
  padding-bottom: 56px;
}

.button-active,
.button:hover {
  background-color: var(--link-active-color);
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.box-2 {
  position: relative;
  overflow: hidden;
  height: 294px;
  width: 370px;
}

.overlay-2 {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: top, right, bottom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;
}

.overlay-2-text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  padding: 63px 24px 91px 24px;
  margin: 0;
}

.box-2:hover .overlay-2 {
  top: 0;
}

.qualities-icon {
  display: inline-flex;
  padding: 0;
  gap: 30px;
  margin-bottom: 30px;
  width: 270px;
  height: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.qualities-section {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.section-sub-heading {
  font-weight: 700;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: space-between;
}

.text-section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-alternate-color);
  margin-right: 15px;
}

.sub-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}

.first-img-section {
  padding-bottom: 94px;
}

.first-img-section {
  display: flex;
  gap: 30px;
}

.box {
  position: relative;
}

.overlay {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  top: 225px;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.first-img-section img + img {
  margin-left: 30px;
}

.first-img-section:last-child {
  margin-right: 0px;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section .sub-heading {
  padding-top: 94px;
}

.second-img-section {
  display: flex;
}

.second-img-section img {
  flex-direction: column;
  align-items: flex-start;
}

.second-img-section li + li {
  margin-left: 30px;
}

.second-img-section {
  padding-left: -30px;
  padding-right: 200px;
}

.team-section-structure {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 18px;
  margin-bottom: 94px;
}

.skills1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-alternate-color);
  background-color: transparent;
  align-self: center;
  margin-left: 51px;
  margin-right: 45px;
  margin-bottom: 100px;
}

.skills2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-alternate-color);
  background-color: transparent;
  align-self: center;
  margin-left: 45px;
  margin-right: 40px;
}

.skills3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-alternate-color);
  background-color: transparent;
  align-self: center;
  margin-left: 80px;
  margin-right: 60px;
}

.skills4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-alternate-color);
  background-color: transparent;
  align-self: center;
  margin-left: 74px;
  margin-right: 40px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.all-section h4 {
  line-height: 30px;
  letter-spacing: 0.03em;
}

.all-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-alternate-color);
}

.all-section span {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.customers h3 {
  position: absolute;
  width: 328px;
  height: 42px;
  left: 637px;
  top: 2401px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.customers-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers-icon {
  display: flex;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}

.customers-icon .customers-self-icon:hover {
  color: var(--link-active-color);
}

.customers-icon svg {
  width: 106px;
  height: 60px;
  color: #afb1b8;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
}

.footer-flex {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
}

.footer-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.input-mail {
  appearance: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  height: 20px;
  width: 210px;
}

.footer-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  appearance: none;
  position: relative;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  background-color: #0083ef;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: relative;
  top: -37px;
  left: 115px;
}

p {
  color: #fff;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--link-active-color);
  padding-top: 60px;
  margin-left: 100px;
  padding-bottom: 28px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 61px;
  padding-bottom: 12px;
}

.contacts-information1 {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 61px;
  padding-bottom: 12px;
}

.contacts-information2 {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 61px;
  padding-bottom: 60px;
}

.icons-list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 16px;
  color: #afb1b8;
}

.icons-list .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
}

.icons-list .icons svg {
  height: 20px;
  width: 20px;
}

.icons-list .icons:hover,
.icons-list .icons:focus {
  color: #fff;
  border-radius: 50%;
  background-color: var(--link-active-color);
  border-color: var(--link-active-color);
  cursor: pointer;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-icons-list .footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
}

.footer-icons-list .footer-icons:hover,
.footer-icons-list .footer-icons:focus {
  color: #fff;
  border-radius: 50%;
  background-color: var(--link-active-color);
  border-color: var(--link-active-color);
  cursor: pointer;
}

.footer-icons svg {
  width: 20px;
  height: 20px;
}

.regular-customers-section {
  background-color: #fff;
}

.regular-customers {
  position: absolute;
  width: 328px;
  height: 42px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.is-hidden {
  opacity: 1;
  visibility: hidden;
}

.is-hidden > .modal-content {
  transform: scale(0.8);
}

.modal-content {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.modal-content {
  background: #fff;
  padding: 40px;
  width: 528px;
  height: 551px;
  margin: 0, auto;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000;
}

.modal-content > span {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.close-btn {
  outline: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  transition: color;
}

.close-btn:hover {
  background: #ededed;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group:focus-within input {
  outline: none;
  border: 2px solid rgba(33, 150, 243, 1);
}

.form-group:focus-within svg {
  color: var(--link-active-color);
}

.form-group + .form-group {
  margin-top: 10px;
}

.form-group > *:nth-child(1) {
  letter-spacing: 0.01em;
  color: var(--text-alternate-color);
}

.form-group > *:nth-child(2) {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-group > input {
  padding: 12px 40px;
}

.textarea {
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: vertical;
  padding: 12px 16px;
}

.form-chechbox {
  padding-top: 20px;
  display: flex;
  gap: 7px;
  flex-direction: row;
}

.form-chechbox:nth-child(2) {
  color: var(--text-alternate-color);
}

.form-group:nth-child(4) {
  margin-bottom: 20px;
}

.form-group > svg {
  width: 15px;
  height: 15px;
  color: #000;
  position: absolute;
  top: 55%;
  left: 12px;
}

.form-controls {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 10px 80px;
  max-width: 200px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
  background-color: #007ce1;
}
