.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
}

.footer-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
}

.footer-list__subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-list__input {
  appearance: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  height: 20px;
  width: 210px;
}

.footer-list__btn {
  width: 150px;
  height: 50px;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  appearance: none;
  position: relative;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__btn:hover {
  background-color: #0083ef;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: relative;
  top: -37px;
  left: 115px;
}

.footer-list__logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--link-active-color);
  padding-top: 60px;
  margin-left: 100px;
  padding-bottom: 28px;
  text-decoration: none;
}

.footer-list__address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 61px;
  padding-bottom: 12px;
  text-decoration: none;
}

.footer-list__mail {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 61px;
  padding-bottom: 12px;
}

.footer-list__phone {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 61px;
  padding-bottom: 60px;
}

.footer-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-icons .footer-icons__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
}

.footer-icons .footer-icons__icons:hover,
.footer-icons .footer-icons__icons:focus {
  color: #fff;
  border-radius: 50%;
  background-color: var(--link-active-color);
  border-color: var(--link-active-color);
  cursor: pointer;
}

.footer-icons__svg {
  width: 20px;
  height: 20px;
}
